@tailwind base;
@tailwind components;
@tailwind utilities;

.landing {
  background: radial-gradient(50% 50% at 50% 50%, #2f1468 0%, #0b1b32 100%),
    linear-gradient(0deg, #260b42, #260b42);
  height: 100vh;
}

.tagline {
  /* Ensure tagline is <= width of title */
  max-width: 45ch;
}